  /* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%; /* 1rem = 10px for better scaling */
}

/* Product Container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Product Image Styles */
.product-image {
    flex: 1;
    padding: 10px;
    
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.product-details {
    flex: 2;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 15px;
}

.product-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.8rem;
    color: #228B22; 
    margin-bottom: 20px;
}

.product-author,
.product-category,
.product-description {
    margin-bottom: 10px;
}

.product-description {
    font-size: 15px;
}

.specifications-table {
    width: 100%;
    border-collapse:inherit;
    margin-top: 20px;
}

.specifications-table th,
.specifications-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.specifications-table th {
    background-color:  #DAA520; 
    font-weight: bold;
}

.specifications-table td {
    font-size: 1.2rem;
}

/* Product Item Styles */
.product-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    
}

.product-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.product-item p {
    margin-bottom: 10px;
}

.product-item img {
    width: 30%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
   
}

.product-item img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Adds a shadow on hover for a pop-out effect */
}

.view-details {
    cursor: pointer;
    padding: 10px 15px;
    background-color:  #DAA520;
    color: whitesmoke;
    border:solid;
    
    border-radius: 40px;
    font-size: 1.2rem;
    transition: background-color 0.2s, color 0.2s;
}

.view-details:hover {
    background-color:  #708090;
    color: black;
    font-weight: bold;
}
.add-cart{
    cursor: pointer;
    padding: 10px 15px;
    background-color:  #DAA520;
    color: whitesmoke;
    border:solid;
    
    border-radius: 40px;
    font-size: 1.2rem;
    transition: background-color 0.2s, color 0.2s;

}
.add-cart:hover{
     background-color:  #708090;
    color: black;
    font-weight: bold;

}

@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }

    .product-details {
        margin-top: 20px;
    }

    .specifications-table th,
    .specifications-table td {
        font-size: 1rem;
        padding: 8px;
    }
}

/*-----------------------------------Header-----starts------------------------------------*/

.header1 {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #daa520;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .left-section {
    align-items: center;
    display: flex;
    width: 250px;
  }
  .middle-section {
    flex: 1;
    margin: 0 30px 0 50px;
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  .right-section {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 20px;
  }
  .bascket {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  .profile {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  .logo {
    height: 140px;
    width: 350px;
    cursor: pointer;
  }
  
  .bascket:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #800020;
    padding: 5px;
  }
  .search-logo {
    width: 30px;
    height: 30px;
    background-color: none;
    border-radius: 50px;
  }
  .search-logo:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
  .profile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #800020;
    padding: 5px;
  }
  
  .search-bar {
    flex: 1;
    height: 30px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
  }
  .search-bar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }
  .search-bar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .sign-in {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    width: 70px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid --primary-color !important;
    font-size: 15px;
    background-color: var(--primary-color);
    color: white;
    font-style: bold;
    cursor: pointer;
    white-space: nowrap;
  }
  .sign-in:hover {
    background-color: #800020;
    border: 1px solid #800020;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    width: 85px;
    height: 35px;
  }
  .header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 40px;
    gap: 50px;
    z-index: 1;
    width: auto;
  }
  
  .header2 div a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    position: relative;
  }
  
  .header2 div a::after {
    content: " ";
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .header2 div a:hover {
    color: var(--background-color);
  }
  .header2 div a:hover::after {
    transform: scaleX(1);
  }
  
  /*--------------------------------header- ends------------------------------------------*/
  footer {
    background-color: var(--primary-color);
    color: slategray;
    padding: 50px 10%;
    font-size: 14px;
    font-weight: bold;
   
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px 10px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    color: black;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: black;
  
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #daa520;
  }
  
  .footer-section .socials a {
    font-size: 18px;
    margin-right: 8px;
    color: black;
    transition: color 0.3s ease;
  }
  
  .footer-section .socials a:hover {
    color: #daa520;
  }
  
  .section-title {
    margin: 20px 45%;
    max-width: 200px;
    color: #800020;
  }

  /* Recommended Section */
.recommended-section {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.recommended-section h2 {
    text-align: center;
    font-size: 2.4rem;
    color: #DAA520;
    margin-bottom: 20px;
    font-weight: bold;
}

#recommended-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}

.recommendation-item {
    background-color: #fff;
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recommendation-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.recommendation-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommendation-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.recommendation-item h4 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.recommendation-item p {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #ddd;
}

.view-details,.add-to-cart {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #DAA520;
    color: whitesmoke;
    border: solid;
    border-radius: 40px;
    font-size: 1.2rem;
    transition: background-color 0.2s, color 0.2s;
    margin-bottom: 10px;
}

.view-details:hover, .add-to-cart:hover {
    background-color: #708090;
    color: black;
    font-weight: bold;
}

.detailsR {
    display: none; /* Hide by default */
    font-weight: bold;
    border-radius: 3px;
    background-color: #708090;
    color:#DAA520;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
}

.detailsR.active {
    display: flex; /* Show when active */
    flex-direction: column;
}

/* Zoom Effect Styles */
.zoom-container {
    position: relative;
    overflow: hidden;
}

.zoom-container img {
    transition: transform 0.5s ease;
}

.zoom-container:hover img {
    transform: scale(1.5); /* Adjust scale for zoom level */
}

/* styles.css */
#bundles-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bundle {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.bundle h2 {
    margin: 0 0 10px 0;
}

.bundle .products {
    display: flex;
    gap: 10px;
}

.bundle .product {
    flex: 1;
    text-align: center;
}

.bundle .product img {
    max-width: 100px;
    height: auto;
}

.bundle .discount {
    margin-top: 10px;
    font-weight: bold;
}
.bundle .product button {

    padding: 5px 10px;
    border: none;
    background-color: #DAA520;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.bundle .product button:hover {
    background-color: #708090;
}
.r{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #DAA520;
  background-color: #708090;
  height: 30px;
  font-size: larger;
}


  